extends layout
block content
  form(name="login", action="/login", method="post")
    | username: 
    input(type="text", name="username")
    p  
    | password: 
    input(type="password", name="password")
    p    
    input(type="submit" value="Login")